.profile__header {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.profile__header .profile_bg {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.profile__header .profile_img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  border: 2px solid white;
}
.profile__header .content__wrapper {
  margin-top: 3rem;
  text-align: center;
  padding: 20px 40px;
}
.profile__header .content__wrapper .profile__name {
  font-size: 18px;
  font-family: "NeueBold";
}
.profile__header .content__wrapper .profile__designation {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  font-family: "NeueRoman";
}

.profile__header .content__wrapper .profile__location {
  color: #585d6e;
  font-size: 12px;
  margin: 0;
  font-weight: 500;
  margin-top: 5px;
  font-family: "NeueLight";
}

/* Profile Details Section  */

.details__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  font-weight: 600;
  border-bottom: 1px solid #e9ecef;
}
.details__wrapper:last-child {
  border-bottom: 0px;
}

.details__wrapper .name {
  font-size: 14px;
  font-family: "NeueRoman";
  font-weight: 400;
}

.details__wrapper .count {
  font-family: "NeueRoman";
  font-weight: 400;
  font-size: 16px;
  color: #0154aa;
}

/* Profile Calender Section  */

.calender__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender__heading {
  font-family: "NeueBold", sans-serif;
  font-size: 16px;
  margin: 0;
}

.calender__upcoming {
  margin: 0;
  color: #737a91;
  font-size: 14px;
  font-family: "NeueRoman";
}
