.listing__card {
  border-radius: 10px;
  width: 100%;
  background: white;
  padding: 20px;
}

.listing__card .card-alert {
  color: #333333;
  font-size: 10px;
  font-weight: bold;
}

.card__btn {
  background-color: #0154aa;
  border-radius: 6px;
  min-width: 115px;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
  margin-right: 5px;
}

.listing__card .button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time__applicant .location,
.time__applicant .time {
  font-family: "NeueRoman";
  color: #585d6e;
  font-size: 12px;
  margin-left: 10px;
}

.time__applicant .time .applicant {
  color: #0154aa;
}

.card-body .details {
  display: flex;
  align-items: center;
  color: #333;
  font-family: "NeueRoman";
  font-weight: 500;
}
.card-title {
  font-size: 14px;
  font-family: "NeueRoman";
  font-weight: 500;
}

.details .subTitle {
  font-size: 12px;
  font-family: "NeueRoman";
  font-weight: 500;
}
.details img {
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}
